* {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #fce138;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
}

body {
    /* more on this crazy alphanumerical value in a minute! */
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/hero.jpeg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: var(--secondary-color);
}

section {
    padding: 60px;
}

/* Hero Style Start */
.hero {
    background-image: url("../images/hero.jpeg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
}

.hero-cta {
    background-color: var(--primary-color);
    display: flex;
    padding: 5px;
    align-items: flex-end;
    margin: 200px 0 0 auto;
}

.hero-cta h2 {
    font-size: 55px;
    color: var(--tertiary-color);
}

/* RANDOM GRID IDEA */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    grid-auto-rows: minmax(400px, auto);
    flex-wrap: wrap;
}

.nested {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1em;
    justify-items: stretch;
    align-items: stretch;
}

.wrapper > div {
    border: #333 1px dashed;
    padding: 1em;
    flex-wrap: wrap;
}

.nested > div {
    border: #333 1px dashed;
    padding: 1em;
}

.slot1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.slot2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.slot3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.slot4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.slot5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.slot6 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.box2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.box3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.box4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.box5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

/* RANDOM FLEX COMMANDS */

.flex-row {
    display: flex;
}

/* ABOUT ME SECTION */

.about-panel {
    display: flex;
}

.about-panel h2 {
    padding-right: 1em;
}

.slot2 p {
    line-height: 1.7;
    color: var(--tertiary-color);
    font-size: 20px;
    margin: 0 0 auto auto;
    text-align: left;
}

.section-title {
    font-size: 48px;
    color: var(--secondary-color);
    border-right: 3px solid;
    text-align: right;
}

.primary-border {
    border-color: var(--primary-color);
    height: 100%;
}

.secondary-border {
    border-color: var(--tertiary-color);
}

/* WORK PORTION */

.work-panel {
    display: flex;
    width: 25%;
    order: 1;
}

.work-panel h2 {
    padding-right: 30px;
}

.main-work {
    flex: 1;
    order: 2;
}

.main-work-grid {
    display: grid;
    max-width: 940px;
    margin: 0 auto;
    grid-template-columns: 150px repeat(2, 1fr);
    grid-template-rows: repeat(3, 25%);
    grid-gap: 10px;
}

.work-grid-item {
    background-color: orange;
    border: solid;
    padding: 1em;
    color: black;
}

/* CONTACT ME PORTION */

.contact-panel {
    display: flex;
    width: 25%;
    order: 1;
}

.contact-panel h2 {
    padding-right: 30px;
}

.main-contact {
    flex: 1;
    order: 2;
}

.main-contact p {
    line-height: 1.7;
    color: var(--tertiary-color);
    font-size: 20px;
    margin: 0 0 auto auto;
    text-align: left;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    header h2, footer div {
        text-align: center;
        width: 100%;
    }

    .hero-cta, .hero-form {
        width: 100%;
    }

    .hero-cta {
        text-align: center;
    }

    .section-title {
        width: 80%;
    }

    .trainer {
        flex: 0 70%;
    }

    .contact-info iframe {
        flex: 1 100%;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }

    .step h3 {
        flex: 1 100%;
        text-align: center;
    }

    .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }

    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .step-text {
        flex: 100%;
    }

    .service-grid-container {
        grid-template-columns: 1fr 1fr;
    }

    .service-grid-item.basic {
        grid-column: 1;
    }

    .service-grid-item.both {
        grid-column: 1 / -1;
    }

    .service-grid-item.cancel {
        transform: none;
        writing-mode: unset;
        grid-column: 1 / -1;
        grid-row: -1;
    }

    .trainer-img h3, .trainer-img h4, .trainer-img::after {
        display: none;
    }
    
    .trainer-bio h3, .trainer-bio h4 {
        display: block;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .hero-form button {
        width: 100%;
    }

    .section-title {
        width: 95%;
    }

    .intro p {
        width: 100%;
    }

    .trainer {
        flex: 0 100%;
    }

    .contact-info {
        text-align: center;
    }

    .contact-info > * {
        flex: 0 100%;
    }

    .contact-form {
        order: 3;
    }
}